---
import { siteConfig } from "@public/data/site-config";
import { icons } from "@public/data/site.icons";

const { ownerLogo, links: siteLinks } = siteConfig;
const {
	menu: { icon },
} = icons;

const links = Object.keys(siteLinks) as Array<keyof typeof siteLinks>;
---

<input type="checkbox" id="menu" class="hidden" />

<header
	class="sticky bottom-0 left-0 z-[1000] m-auto flex h-16 w-full items-center justify-between overflow-hidden rounded-md border-t-2 border-accent bg-secondary/50 px-4 py-3 backdrop-blur-sm duration-200 ease-out md:bottom-6 md:mb-7 md:flex md:h-16 md:w-3/4 md:items-center md:justify-between md:border-2 md:py-0 md:backdrop-blur-md"
>
	<div class="flex flex-1 items-center justify-between gap-2 md:flex-row">
		<h1 class="text-2xl font-semibold text-primary">{ownerLogo}</h1>

		<!-- Navbar-mobile -->

		<label
			for="menu"
			class="flex size-12 items-center justify-center rounded-full border-2 border-accent text-paragraph *:size-8 md:hidden"
			set:html={icon}
		/>
	</div>

	<ul>
		{
			links.map((item) => {
				const { name, path } = siteLinks[`${item}`];
				return (
					<li>
						<a href={`${path}`} class="text-paragraph duration-300 hover:text-primary">
							{name}
						</a>
					</li>
				);
			})
		}
	</ul>
</header>

<style>
	header {
		--background: var(--secondary);

		background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, var(--background) 1px);
		background-size: 4px 4px;
	}

	h1 {
		text-shadow: 0 0 10px rgba(197, 225, 255, 0.637);
	}

	#menu:checked ~ header {
		height: 500px;
		display: block;
	}

	#menu:checked ~ header div label {
		@apply rotate-90 border-primary text-primary;
	}

	header ul {
		@apply hidden md:flex md:gap-4;
	}

	#menu:checked ~ header ul {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@apply gap-8;
	}

	#menu:checked ~ header ul li {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
