---
import type { siteConfig } from "@public/data/site-config";
import Badge from "./ui/badge.astro";
import Paragraph from "./ui/paragraph.astro";
import { icons } from "@public/data/site.icons";

interface Props {
  data: (typeof siteConfig)["sections"]["projects"]["data"];
}

const { data } = Astro.props;
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-5">
  {
    data.map(({ image, name, stack, info, demo, repo }) => {
      return (
        <article class="p-4 rounded-md bg-secondary/80 border-2 border-accent group">
          <picture class="relative block overflow-hidden rounded-md bg-secondary">
            <img src={image} alt={name} class="mix-blend-exclusion" />

            <footer class="bg-secondary/75 w-full absolute duration-300 top-0 h-full opacity-0 group-hover:opacity-100 left-0 flex items-center justify-center gap-3 *:size-11 *:flex *:items-center *:justify-center *:rounded-md *:border-2 *:border-accent hover:*:border-primary hover:*:scale-105 *:duration-300">
              {repo && (
                <a
                  target="_blank"
                  href={repo}
                  set:html={icons.github.icon}
                  class="*:size-7"
                />
              )}
              <a
                target="_blank"
                href={demo}
                set:html={icons.link.icon}
                class="*:size-7"
              />
            </footer>
          </picture>
          <div class="py-3">
            <h3 class="font-bold">{name}</h3>

            <Paragraph>{info}</Paragraph>
          </div>
          <footer class="flex gap-3 flex-wrap justify-start">
            {stack.map((name) => {
              return <Badge>{name}</Badge>;
            })}
          </footer>
        </article>
      );
    })
  }
</section>
