---
// !delete this file !
import Paragraph from "@components/ui/paragraph.astro";
import { siteConfig } from "@public/data/site-config";
import clsx from "clsx";
const { ownerSocialMedia, owner } = siteConfig;

interface Props {
	mode: "dev" | "uxui";
	customData: {
		occupation: string;
		data: string;
	};
}
const { mode = "dev", customData } = Astro.props;

const { data, occupation } = customData;

const isModeDev = mode === "dev";
const isModeUx = mode === "uxui";

const heroTitleStyle = clsx({
	"text-bunker-100": isModeDev,
	"text-bunker-ux-800": isModeUx,
});

const heroSubtitleStyle = clsx({
	"text-bunker-500": isModeDev,
	"text-bunker-600": isModeUx,
});

const heroSocialMediaStyle = clsx({
	"*:border-bunker-950 *:text-bunker-800 hover:*:text-bunker-100": isModeDev,
	"*:border-bunker-ux-300 *:text-bunker-ux-500 hover:*:text-bunker-ux-700": isModeUx,
});

const heroParagraphStyle = clsx({
	"text-bunker-500": isModeDev,
	"text-bunker-ux-700": isModeUx,
});
---

<article class="flex flex-col items-center gap-[14px]">
	<h1 class={`text-5xl font-bold md:text-8xl ${heroTitleStyle}`}>{owner}</h1>

	<h2
		class={`text-2xl font-bold md:text-4xl ${heroSubtitleStyle}`}
		style="view-transition-name: occupation;"
	>
		{occupation}
	</h2>
	<div
		class={`flex items-center justify-center gap-2 *:size-8 *:rounded *:border-2 ${heroSocialMediaStyle}`}
	>
		{
			ownerSocialMedia.map(({ icon, name }) => (
				<a
					href="#"
					class="flex items-center justify-center  duration-300 *:size-5"
					set:html={icon}
					title={name}
				/>
			))
		}
	</div>

	<Paragraph class={`mt-[52px] text-center ${heroParagraphStyle}`}>
		{data}
	</Paragraph>

	{
		isModeDev && (
			<button class="mt-7 rounded-[5px] bg-bunker-950 px-7 py-2 text-bunker-500 duration-300 hover:text-bunker-100">
				Ver CV
			</button>
		)
	}
</article>

<style scoped>
	h1,
	h2 {
		font-family: "Montagu Slab Variable", serif;
	}
	p {
		font-family: "Mukta Vaani", sans-serif;
		font-weight: lighter;
	}
</style>
