---
import clsx from "clsx";

interface Props {
	mode: "dev" | "uxui";
}
const { mode = "dev" } = Astro.props;

const toHref = mode === "dev" ? "/ux-ui" : "/";

const isModeDev = mode === "dev";
const isModeUx = mode === "uxui";

const navbarStyle = clsx({
	"bg-bunker-1000 bg-dev-noise border-bunker-950": isModeDev,
	"bg-bunker-ux-100 bg-uxui-noise border-bunker-ux-200": isModeUx,
});

const navbarTitleStyle = clsx({
	"text-bunker-50": isModeDev,
	"text-bunker-ux-700 ": isModeUx,
});

const navbarSwitchTextStyle = clsx({
	"text-bunker-500 first:text-bunker-300 first:font-bold": isModeDev,
	"text-bunker-ux-500 last:font-bold last:text-bunker-ux-700": isModeUx,
});

const navbarSwitchStyle = clsx({
	"border-bunker-950 bg-bunker-1000 justify-start": isModeDev,
	"border-bunker-ux-400 bg-bunker-ux-300 justify-end": isModeUx,
});

const navbarSwitchBallStyle = clsx({
	"bg-bunker-300": isModeDev,
	"bg-bunker-ux-100": isModeUx,
});
---

<header
	class={`sticky bottom-4 m-auto flex h-16 w-[90%] z-[10] md:w-[80%] items-center justify-between rounded-full border-2 px-5 ${navbarStyle}`}
>
	<a href="/">
		<h2 class={`text-xl font-bold ${navbarTitleStyle}`}>ChapST1</h2>
	</a>

	<div class="flex items-center justify-between gap-[10px]">
		<span class={`text-xs ${navbarSwitchTextStyle}`}>DEV</span>
		<a
			href={toHref}
			class={`flex h-6 w-11 items-center rounded-lg border-2 ${navbarSwitchStyle} px-[5px]`}
		>
			<span
				class={`block size-[11px] rounded-[3px] text-xs ${navbarSwitchBallStyle}`}
				style="view-transition-name: ball;"></span>
		</a>
		<span class={`text-xs ${navbarSwitchTextStyle}`}>UX-UI</span>
	</div>
</header>

<style scoped>
	header {
		margin-top: 30px;
		font-family: "Montagu Slab Variable", serif;
		background-repeat: repeat;
	}

	h2 {
		font-family: "Montagu Slab Variable", serif;
	}
	span {
		font-family: "Mukta Vaani", sans-serif;
	}
</style>
